<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8" />
    <meta name="keywords" content=" " />
    <meta name="description" content=" " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>外送平台</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<!-- flash通知-->
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    
<div class="login-container">
    <h1>User Login</h1>

    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <div class="button-container">
            <button id="login" type="submit">login</button>
            <button id="register" type="button" onclick="window.location.href='/register'">register</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>