<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
<!-- flash通知-->
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}    
    <header>
        <h1>My App</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
