<!DOCTYPE html>
<html>
<head>
    <title>購物車</title>
</head>
<body>
    <h1>你的購物車</h1>
    <ul>
        {% if cart %}
            {% for item in cart %}
            <li>
                <strong>{{ item['item_name'] }}</strong> - ${{ item['price'] }}
                <p>{{ item['description'] }}</p>
            </li>
            {% endfor %}
            <li><strong>總金額:</strong> ${{ cart | sum(attribute='price') }}</li>
        {% else %}
            <p>你的購物車是空的!</p>
        {% endif %}
    </ul>

    {% if cart %}
    <form method="POST" action="{{ url_for('customer.checkout') }}">
        <label for="delivery_address">輸入外送地址:</label>
        <input type="text" name="delivery_address" required>
        <button type="submit">下單</button>
    </form>
    {% endif %}

    <hr>
    <a href="{{ url_for('customer.menu',restaurant_id=restaurant_id) }}">回菜單</a>
</body>
</html>
